RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Add documents to semantic database",
        "formFields": {
          "values": [
            {
              "fieldName": "Add PDF Files here",
              "fieldLabel": "Files",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -320,
        208
      ],
      "id": "c7ea64ba-a1c4-4c60-8667-4c4ae3d3dbee",
      "name": "On form submission",
      "webhookId": "43dc09ec-0e36-4980-82bf-0432161508ec"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_rag",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "26acefe8-3764-4497-98f7-dca7aa0f1f9e",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "AQo9ddGNVfVbPXB4",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        224
      ],
      "id": "22f7600c-f1f8-47ac-8a10-ee1ed347ac3c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        176,
        432
      ],
      "id": "72f69eac-df20-4a14-90f2-ebde339f36f3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is n8n. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        720
      ],
      "id": "4fb45df8-c394-45d6-81ba-4fab71551c69",
      "name": "When chat message received",
      "webhookId": "e2a09f79-2b15-4222-ab3f-0b9541321d4a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are acting as a helpful AI assistant that can answer questions about the MOMENTUM True Wireless 4 product.\n\nUse only the context provided to answer the question.\nIf you don't know, do not make up an answer.\nDo not add or change items on the product.\n\nQuestion: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        720
      ],
      "id": "733151d4-3419-44dc-9009-8e6ca9eb29c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -96,
        944
      ],
      "id": "9f8849ea-4bb3-49e4-ad0b-5fe92df359ed",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "nhL1WATCypvXpjBT",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        944
      ],
      "id": "4c5c07b0-77cc-46cd-98ed-ea6af6f5ebd7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to fetch knowledge from the database",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_rag",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        160,
        944
      ],
      "id": "75369834-9ef6-42ce-b002-4fe59af3c3d3",
      "name": "database_retriever",
      "credentials": {
        "qdrantApi": {
          "id": "AQo9ddGNVfVbPXB4",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -32,
        224
      ],
      "id": "9e6e0ab4-40fc-40b2-b9c8-2885ff149758",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Ckxfb4KMCFIJgu8F",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "database_retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "database_retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8154165b-983e-45e4-bd7e-10b7921911c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb5f7f6ba54dd1561bddb5d903738c1fa59b9daa233c19ff88c35958ec97025f"
  },
  "id": "HxW9UOtWxvdfiKf_WSRHw",
  "tags": []
}